@{
    ViewBag.Title = "Index";
}

<h2>Manage Bugs</h2>
<ul id="testerNavigatin">
    <li>@Html.ActionLink("View Bugs by Project", "ViewBugs", "Tester")</li>
    <li>@Html.ActionLink("Add Bug", "AddBug", "Tester")</li>
    <li>@Html.ActionLink("Edit Bug", "EditBug", "Tester")</li>
    <li>@Html.ActionLink("Delete Bug", "DeleteBug", "Tester")</li>
</ul>
