@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to BugTracker!</h1>
<p>This is a project for the ASP.NET course of the Telerik Software Academy<br />
    It represents a simple bug management system. It is written in ASP.NET MVC with C# and 
    .NET. For data visualization I have used Kendo UI grid control, which supports
    sorting, filtering, paging and dynamic data reloading with Ajax.<br />
    The design is a simple CSS theme with main colors black/grey/white.
</p>