@{
    ViewBag.Title = "Index";
}

<h2>References</h2>
<ul>
    <li>@Html.ActionLink("Show All Testers", "ShowTesters", "References")</li>
    <li>@Html.ActionLink("Show Active Bugs", "ShowBugs", "References")</li>
    <li>@Html.ActionLink("Browse Bugs by Project", "ShowBugsByProject", "References")</li>
</ul>
