@model List<BugTracker.Models.Project>
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "ShowBugsByProject";
}

<h2>View Bugs by Project</h2>
<select name="ProjectId" id="projectId">
    @foreach (var project in Model)
    {
        <option value="@project.ProjectId">@project.Name</option>
    }
</select>
<div id="grid">
</div>

<script>
    $(document).ready(function () {
        
        $('#projectId').on('change', function (e) {
            e.preventDefault();
           
            var projectId = $('#projectId').val();
            $.ajax({
                url: "../../References/GetBugsByProject/" + projectId,
                success: function (result) {
                    
                    $("#grid").kendoGrid({
                        dataSource: {
                            data: result,
                            pageSize: 15
                        },
                        groupable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true
                        },
                        columns: [{
                            field: "Description",
                            width: 90,
                            title: "Description"
                        },
                        {
                            field: "Priority",
                            width: 30,
                            title: "Priority"
                        },
                        {
                            field: "Owner",
                            width: 50,
                            title: "Owner"
                        },
                        {
                            field: "Project",
                            width: 90,
                            title: "Project"
                        },
                        {
                            field: "Status",
                            width: 30,
                            title: "Status"
                        }
                        ]
                    });
                }
            });
        });
    }); 
</script>
